# Ignore Git history (saves huge space)
.git
.gitignore

# Ignore Research & Notebooks
notebooks/
*.ipynb
*.ipynb_checkpoints

# Ignore Local Data & Outputs
data/
outputs/
uploads/
test_clip/
data/test_clip/

# Ignore Virtual Environments
venv/
env/
.env

# Ignore Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/